{#Page d'accueil qui va nous permettre de faire des recherches & voir les jeux qui sont en mode publics}
{% extends 'base.html' %}
{% block content %}
<h1>Jeux publics</h1>
{#GET barre de recherche, permet lors de la selection d'un mot de filtrer dans le serveur#} 
<form method="get" class="search-bar">
    <input type="text" name="q" placeholder="Rechercher par titre/genre..." value="{{ q }}">
    <button type="submit">Rechercher</button>
</form>
#Reponse des jeux
<div class="grid">
    #Boucle sur games envoyer par la view de home
    {% for g in games %}
        <a href="{% url 'detail' pk=g.pk %}" class="card">
            #si img dans environnement elle s'affiche sinon on affiche placeholder
            <div class="thumb">
                {% if g.character_image %}
                    <img src="{{ g.character_image.url }}" alt="{{ g.title }}">
                {% elif g.environment_image %}
                    <img src="{{ g.environment_image.url }}" alt="{{ g.title }}">
                {% else %}
                    <div class="placeholder">Aperçu</div>
                {% endif %}
            </div>
            #les fonctionnalites de la carte
            <div class="card-body">
                <h3>{{ g.title }}</h3>
                <p>{{ g.genre }} • {{ g.created_by.username }}</p>
            </div>
        </a>
    {% empty %}
        <p>Aucun jeu pour le moment.</p>
    {% endfor %}
</div>
{% endblock %}
